<div class="month-body">
    <div class="month-header">
        <div class="col-header" *ngFor="let day of daysOfWeek" style="border-top:1px solid #dadce0;border-right:1px solid #dadce0">
            <span class="week-day-label">{{day}}</span>
        </div>
    </div>
    <div class="month-container">
        <div class="col-item" *ngFor="let monthDate of monthDates"  style="border-bottom:1px solid #dadce0;border-right:1px solid #dadce0">
            <month-item-calendar [monthDate]="monthDate"></month-item-calendar>
        </div>
    </div>
</div>