@import "../../app/variables.less";

.calendar-header {
    display: flex;
    width: @per-100;
    padding:1rem;
    height: @header-height;
    align-items: center;
    .today-btn {
        margin-left:5rem;
    }
    .date-label {
        width: 20rem;
        margin-left: 1rem;
        color: #3c4043;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 28px;
        white-space: nowrap;
    }
    nz-select {
        margin-left:1rem;
        width:8rem;
    }
    .date-nav-icons {
        margin-left:1rem;
    }
}