<div class="calendar-header">
    <button class="today-btn" (click)="resetDate()" nz-button nzType="default">Today</button>
    <div class="date-nav-icons">
        <button nz-button nzType="default" (click)="moveLeft()" class="date-nav-icon" nzShape="circle"><i nz-icon nzType="left"></i></button>
        <button nz-button nzType="default" (click)="moveRight()" class="date-nav-icon" nzShape="circle"><i nz-icon nzType="right"></i></button>
    </div>
    <div class="date-label">
        <label>{{label}}</label>
    </div>
    <nz-select [ngModel]="calendarRendererType" (ngModelChange)="onRenderTypeChange($event)" >
        <nz-option nzValue="month" nzLabel="Month"></nz-option>
        <nz-option nzValue="week" nzLabel="Week"></nz-option>
        <nz-option nzValue="day" nzLabel="Day"></nz-option>
    </nz-select>
</div>