.calendar-header {
    display: flex;
    width: 100%;
    padding:1rem;
    align-items: center;
    .today-btn {
        margin-left:5rem;
    }
    .date-label {
        width: 12rem;
        margin-left: 1rem;
    }
    nz-select {
        margin-left:1rem;
        width:8rem;
    }
    .date-nav-icons {
        margin-left:1rem;
        .date-nav-icon, .date-nav-icon:hover, .date-nav-icon:focus {
            border-color:transparent;
            color: rgba(0, 0, 0, 0.65);
        }
    }
}